html {
	font-family: Arial;
	-webkit-print-color-adjust: exact; /* Force print with background graphics enabled */
}

.container {
	max-width: 800px;
	margin: 0 auto;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

.about {
	background: RGBA(38, 40, 42, 1);
	padding: 10px 8px;
	color: #ccc;
	font-size: 11px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
	.stats {
		font-style: italic;
	}

.menu {
	background: RGBA(3, 163, 246, 0.95);
	height: 80px;
	display: flex;
	justify-content: center;
}

.date_dropdown {
	background: #fff;
	border-radius: 4px;
	height: 35px;
	font-size: 14px;
	width: 100%;
	max-width: 280px;
	padding: 0 12px;
	align-self: center;
	border: #fff 1px solid;
	font-weight: bold;
}

.page {
	margin-bottom: 80px;
}

.header {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.header .left {
	width: 250px;
	text-align: center;
}

.logo {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}

.header .right {
	margin-left: 10px;
	flex: 1;
}

.header .title {
	font-weight: bold;
	border-bottom: 1px solid #000;
	margin: 5px 0;
	font-size: 17px;
}

.header .room {
	font-weight: bold;
	display: inline;
	font-size: 15px;
}

.header .date {
	font-size: 15px;
	font-weight: bold;
	float: right;
}

.schedule {
	margin-top: 15px;
	font-size: 15px;	
}

.schedule .header {
	font-weight: bold;
	background: #000;
	color: #fff;
	padding: 2px 0;
}

.schedule .row {
	display: flex;
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 15px;
	text-align: center;
	overflow: hidden;
	
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
}

.schedule .row.unavailable {
	background: #ccc;
}

.schedule .col-1 {
	flex: 1;
}

.schedule .col-2 {
	flex: 2;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	border-left: 1px solid #000;
}

.schedule .col-3 {
	flex: 1;
	border-left: 1px solid #000;	
}

.text-md {
	font-size: 13px;
}

.text-sm {
	font-size: 11px;
}

.TA4Lyfe {
	margin-top: 10%;
	text-align: center;
}

	.TA4Lyfe img {
		max-width: 100%;
		height: auto;
		box-shadow: 0 0 15px #a09f9f;
		animation: fadeIn 5s forwards;
		animation-delay: 5s;
		opacity: 0;
	}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Used for printing  */
@media print {
	.page {
		margin-bottom: 0!important;
		page-break-before: always;
	}
	
	.footer {
		display: none;
	}
}

/* When screen size is less than 576px */
@media screen and (max-width: 576px) {
	.header .left {
		flex-basis: 100%;
	}
}